@font-face { font-family: cal; src: url('fonts/calibri.ttf'); } 
@font-face { font-family: osw; src: url('fonts/Oswald-VariableFont_wght.ttf'); } 

h1{  margin: 0; }
h2{ margin: 0; }

body {
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
    font-family: cal;
    text-align: center;
    margin: 0;
    padding: 0;
}
button {
    font-family: osw;
    background-color: rgb(155, 198, 61);
    color: black;
    border: none;
    font-style: bold;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;  
}
button:hover {
    background-color: rgb(255, 255, 255);
}

.gray-heading {
    padding-top: 0;
    color:rgb(147, 147, 147);
    font-size: min(4vw,  30px);
    font-family: cal;
}

.image-container {
    width: 100%; /* or any desired width */
    margin: 200 auto; /* center the container */
}

.responsive-image {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    height: auto; /* Maintains the aspect ratio */
}

.slides-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: none;
}

/* Card container */
.card {
    border: 1px solid green; /* Thin green border */
    border-radius: 12px;     /* Rounded corners */
    padding: 16px;
    background-color: #ffffff0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    margin: 16px;
  }
  
  /* Card image */
  .card-image {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Card title */
  .card-title {
    font-size: 1.5rem;
    margin: 12px 0;
    color: #333;
  }
  
  /* Card description */
  .card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 16px;
  }
  
  /* Card button */
  .card-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }

  .small-spacer{height: 20px; width: 100%;}
  .large-spacer{height: 60px; width: 100%;}